[submodule "backend/framework"]
	path = backend/framework
	url = https://github.com/symbiosika/symbiosika-framework

# pull again
# git submodule update --init --recursive

# add backend/framework
# git submodule add https://github.com/symbiosika/kinaut_webserver backend/framework